@model int;

<h1 class="text-center">@ChatSignalR.controller.ChatController.Lista.GetValueOrDefault(Model)</h1>

<div>
    <div>
        <input class="form-control" type="text" placeholder="Introduzca su nombre de Usuario" id="user"></input>
        <input class="form-control" type="text" placeholder="Introduzca el mensaje" id="message"></input>
        <div>
            <button class="btn btn-success" type="button" id="sendButton"></button>
        </div>
    </div>
</div>

<div class="row justify-content-center">
    <div class="col-10">
        <ul class="list-group" id="messagesList">
        </ul>
    </div>
</div>


<a asp-action="ListaChats" asp-controller="Chat">Volver a la Lista de Chats</a>

@*Colocamos el escript de signalR*@
<script src="https://cdnjs.cloudflare.com/ajax/libs/microsoft-signalr/7.0.5/signalr.min.js"></script>
<script>
    //Primero Creamos la conexion
    const connection = new signalR.HubConnectionBuilder()
        .withUrl("/chatHub")
        .build();
    connection.start().then(() => {
        connection.invoke("AddGroup", "@Model");
    }).catch(err => console.error(err.toString()));


    //En el momento en que demos click, obtenemos los datos de los inputs y los enviamos mediante
    //la funcion "SendMessage"
    document.getElementById("sendButton").addEventListener("click", function (e) {
        let room = @Model;
        const user = document.getElementById("user").value;
        const message = document.getElementById("message").value;
        connection.invoke("SendMessage", room, user, message).catch(err => console.error(err.toString()));
        $("message").value("");
        $("message").focus;

        //Para evitar la recarga de la pagina
        e.preventDefault();
    });

    connection.on("ReceiveMessage", function (user, message) {
        const li = document.createElement("li");
        li.textContent = `${user}: ${message}`;
        document.getElementById("messagesList").appendChild(li);
    });
</script>