@model ProyectoFinal.Models.RoomModel

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crear Nuevo Room</title>
</head>

<body>
    <article>
        @if (TempData["Error"] != null)
        {
            <div class="alert alert-danger" id="alertError">
                @TempData["Error"]
            </div>
        }
        <form asp-action="InsertarRoom" asp-controller="Chat" method="post">
            <label for="roomName">Nombre Room</label>
            <input type="text" asp-for="@Model.RoomName">
            <label for="creadorName">Creador</label>
            <input type="text" asp-for="@Model.CreadorName">

            <button type="submit">Crear</button>
        </form>
    </article>
    <script asp-append-version="true">
        let alertError = document.getElementById("alertError");
        if(alertError){
            setTimeout(() => {
                alertError.style.display = "none";
            },3000);
        }
    </script>
</body>

</html>