<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <script src="https://kit.fontawesome.com/0ec24d2dc8.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="~/css/Clave.css" asp-append-version="true">
    <title>Codigo de seguridad</del></title>
</head>
<body>
    
<div class="card">
    
  <form class="form" method="post" asp-action="InicioSesion">
    <h3 id="heading">Clave de acceso</h3>
    <h4> favor Ingresar la Clave de acceso para poder darte la mejor seguridad.</h4>
    <div class="field">
      <input placeholder="clave de acceso" class="input-field" type="password">
    </div>

    <div class="btn">
      <button class="button2">Generar Clave</button>
    </div>
    <button class="button3">Terminosy condiciones</button>
  </form>
</div>
</body>
</html>