@model ProyectoFinal.Models.RegistroModel

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://kit.fontawesome.com/0ec24d2dc8.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="~/css/Clave.css" asp-append-version="true">
  <title>Codigo de seguridad</del></title>
</head>

<body>

  <div class="card">
    @if (ViewData["ErrorMessage"] != null)
        {
            <div id="alertError">
                <div class="error">
                    <div class="error__icon">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" viewBox="0 0 24 24" height="24" fill="none">
                            <path fill="#393a37"
                                d="m13 13h-2v-6h2zm0 4h-2v-2h2zm-1-15c-1.3132 0-2.61358.25866-3.82683.7612-1.21326.50255-2.31565 1.23915-3.24424 2.16773-1.87536 1.87537-2.92893 4.41891-2.92893 7.07107 0 2.6522 1.05357 5.1957 2.92893 7.0711.92859.9286 2.03098 1.6651 3.24424 2.1677 1.21325.5025 2.51363.7612 3.82683.7612 2.6522 0 5.1957-1.0536 7.0711-2.9289 1.8753-1.8754 2.9289-4.4189 2.9289-7.0711 0-1.3132-.2587-2.61358-.7612-3.82683-.5026-1.21326-1.2391-2.31565-2.1677-3.24424-.9286-.92858-2.031-1.66518-3.2443-2.16773-1.2132-.50254-2.5136-.7612-3.8268-.7612z">
                            </path>
                        </svg>
                    </div>
                    <div class="error__title">@ViewData["ErrorMessage"]</div>
                </div>

            </div>
        }
    <form class="form" method="post" asp-action="Registrar">
      <h3 id="heading">Clave de acceso</h3>
      <h4>Con esta clave podrá cambiar la contraseña en caso de ser olvidada, no olvide la clave.</h4>
      <div class="field">
        <input placeholder="clave recuperacion" asp-for="clave" class="input-field" type="number" required>
      </div>
      <div class="btn">
        <button class="button2" type="submit">Registrar Clave</button>
      </div>
      <button class="button3">Terminos y condiciones</button>

       <div class="DatosUsu"> 
      <div class="Child">
        <input class="input-field" type="text" asp-for="nombreCompleto" readonly>
      </div>
      <div class="Child">
        <input class="input-field" type="text" asp-for="apellidoCompleto" readonly>
      </div>
      <div class="Child">
        <input class="input-field" type="text" asp-for="correoElectronico" readonly>
      </div>
      <div class="Child">
        <input class="input-field" type="text" asp-for="contrasena" readonly>
      </div>
    </div>
    
    </form>

   @if (!ViewData.ModelState.IsValid)
{
    <div id="alertError" class="error">
        <div class="error__icon">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                <path fill="#fff" d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm1 15h-2v-2h2v2zm0-4h-2V7h2v6z"></path>
            </svg>
        </div>
        <div class="error__text">
            <h4 class="error__title">Ups, algo salió mal:</h4>
            <ul class="error__list">
                @if (ViewData.ModelState["clave"]?.Errors.Count > 0)
                {
                    <li>@Html.ValidationMessageFor(model => model.clave, "", new { @class = "text-danger" })</li>
                }
                @if (ViewData.ModelState["correoElectronico"]?.Errors.Count > 0)
                {
                    <li>@Html.ValidationMessageFor(model => model.correoElectronico, "", new { @class = "text-danger" })</li>
                }
            </ul>
        </div>
        <div class="error__close" onclick="cerrarError()">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                <path fill="#fff" d="M18 6L6 18M6 6l12 12"></path>
            </svg>
        </div>
    </div>
}

  </div>
 
<script src="js/registro.js" asp-append-version="true"></script>
      <script asp-append-version="true">
    setTimeout(() => {
      let alertElement = document.getElementById("alertError");
      if (alertElement) {
        alertElement.style.display = "none";
      }
    }, 1000); // Desaparece en 10 segundos
  </script>
  <script src="~/js/Tema.js"></script>
</body>

</html>