@model ProyectoFinal.Models.RegistroModel

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio</title>
    <script src="https://kit.fontawesome.com/0ec24d2dc8.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="~/css/Index.css" asp-append-version="true">
</head>


<body>

    <nav class="menu">
        <h3>Elite</h3>
        <ul>
            <!-- redireccionamientos a registro e inicio de sesion -->
            <li><a asp-action="Registro" asp-controller="Html">Registrarse</a></li>
            <li><a asp-action="InicioSesion" asp-controller="Html">Inicio de sesión</a></li>
        </ul>

        <label for="toggle" id="label_toggle"><i class="fa-solid fa-palette" style="color: #ffffff;"></i></label>
        <input type="checkbox" id="toggle">
    </nav>

    <main class="main" transition-style="in:diamond:hesitate">
        <div><br><br>
             <h1>Elite</h1>
            <p>Una página hecha para encontrar tu pareja ideal.</p>
        <br><br><br><br><br><br>
        </div>
        <!-- carucel de imagenes  -->
        <div class="wrapper">
            <div class="inner" style="--quantity: 10;">
                <!-- 1-->
                <div class="card" style="--index: 0;--color-card: 142, 249, 252;">
                    <div class="img">
                        <img src="/imgs/mujer4.jpg" alt="Descripción 1" />
                    </div>
                </div>
                <!-- 2 -->
                <div class="card" style="--index: 1;--color-card: 142, 252, 204;">
                    <div class="img">
                        <img src="/imgs/mujer3.jpg" alt="Descripción 1" />
                    </div>
                </div>
                <!-- 3 -->
                <div class="card" style="--index: 2;--color-card: 142, 252, 157;">
                    <div class="img">
                        <img src="/imgs/hombre3.jpg" alt="Descripción 2" />
                    </div>
                </div>
                <!-- 4 -->
                <div class="card" style="--index: 3;--color-card: 215, 252, 142;">
                    <div class="img">
                        <img src="/imgs/hombre1.jpg" alt="Descripción 2" />
                    </div>
                </div>
               <!-- 5 -->
                <div class="card" style="--index: 4;--color-card: 252, 252, 142;">
                    <div class="img">
                        <img src="/imgs/hombre2.jpg" alt="Descripción 2" />
                    </div>
                </div>
               <!-- 6 -->
                <div class="card" style="--index: 5;--color-card: 252, 208, 142;">
                    <div class="img">
                        <img src="/imgs/mujer2.jpg" alt="Descripción 2" />
                    </div>
                </div>
                <!-- 7 -->
                <div class="card" style="--index: 6;--color-card: 252, 142, 142;">
                    <div class="img">
                        <img src="/imgs/mujer1.jpg" alt="Descripción 2" />
                    </div>
                </div>
               <!-- 8 -->
                <div class="card" style="--index: 7;--color-card: 252, 142, 239;">
                    <div class="img">
                        <img src="/imgs/hombre5.jpg" alt="Descripción 2" />
                    </div>
                </div>
               <!-- 9 -->
                <div class="card" style="--index: 8;--color-card: 204, 142, 252;">
                    <div class="img">
                        <img src="/imgs/hombre6.jpg" alt="Descripción 2" />
                    </div>
                </div>
               <!-- 10 -->
                <div class="card" style="--index: 9;--color-card: 142, 202, 252;">
                    <div class="img">
                        <img src="/imgs/mujer5.jpg" alt="Descripción 2" />
                    </div>
                </div>
            </div>
        </div>
    </main>

    <!-- Pie Pagina -->
    <footer>
        <p> Privacidad - Legal - Terminos </p>
        <a asp-action="iniciarAdmin" asp-controller="Html">¿Eres Admin?</a>
    </footer>

<!--Scripts -->
    <script src="~/js/Tema.js"></script>
    <script src="~/js/salida.js"></script>

</body>

</html>