<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link rel="stylesheet" href="/css/Juegos.css">
    <script src="https://kit.fontawesome.com/0ec24d2dc8.js" crossorigin="anonymous"></script>
      <script src="https://kit.fontawesome.com/0ec24d2dc8.js" crossorigin="anonymous"></script>
    <title>zona de juegos</title>
</head>

<body>
     <label for="toggle" id="label_toggle">
      <i class="fa-solid fa-palette" style="color: #ffffff;"></i>
    </label>
    <input type="checkbox" id="toggle">

    <div class=" pepe">
        <button class="button type1">
            <span class="btn-txt"><i class="fa-solid fa-caret-left fa-beat"></i><a class="decoracion" asp-action="Principal" asp-controller="UserPerfil">Volver</a></span>
        </button>

    </div>
    <nav class="panel">


        <h2>zona de juegos</h2>

    </nav>

    <div class="container">

        <div class="slider">

            <div class="item" style=" background-image: url('/imgs/mine.jpg'); ">
                <div class="content">
                    <div class="name">minecraft</div>
                    <div class="des">Minecraft es un juego de construcción y aventura donde los jugadores exploran
                        mundos infinitos, recolectan recursos y crean estructuras únicas. Es ideal para desafiar la
                        creatividad y disfrutar con amigos.</div>
                    <button>jugar</button>
                </div>
            </div>
            <div class="item" style="background-image: url('/imgs/rocket.jpg');">
                <div class="content">
                    <div class="name">Rocket Legaue</div>
                    <div class="des">Rocket League combina fútbol y autos en un juego lleno de acción. Domina el balón,
                        realiza acrobacias y anota goles épicos en intensas partidas multijugador.</div>
                    <button>jugar</button>
                </div>
            </div>
            <div class="item" style="background-image: url('/imgs/fortnite.jpg'); ">
                <div class="content">
                    <div class="name">Fortnite</div>
                    <div class="des">Fortnite es un videojuego multijugador de acción y supervivencia donde los
                        jugadores compiten en intensas batallas en una isla llena de armas, construcciones y
                        estrategias. Con modos como Battle Royale y creativos eventos ycon diversas franquicias.</div>
                    <button>jugar</button>
                </div>
            </div>
            <div class="item" style=" background-image: url('/imgs/nedd.png'); ">
                <div class="content">
                    <div class="name">Need For Speed Head</div>
                    <div class="des">Embárcate en carreras intensas, supera desafíos únicos y domina las calles en el
                        mundo vibrante de Need for Speed Head.</div>
                    <button>jugar</button>
                </div>
            </div>
            <div class="item" style="background-image: url('/imgs/god.jpg'); ">
                <div class="content">
                    <div class="name">God of War Ragnarök</div>
                    <div class="des">God of War Ragnarök es una épica aventura que mezcla acción intensa y narrativa
                        cautivadora. Kratos y Atreus enfrentan dioses y desafíos en el mundo nórdico mientras buscan
                        respuestas sobre su destino.</div>
                    <button>jugar</button>
                </div>
            </div>
            <div class="item" style=" background-image: url('/imgs/call.jpeg'); ">
                <div class="content">
                    <div class="name">Black ops 6</div>
                    <div class="des">Call of Duty es una icónica saga de videojuegos de disparos en primera persona,
                        reconocida por su intensa acción, gráficos realistas y campañas inmersivas que llevan a los
                        jugadores a combates históricos y modernos.</div>
                    <button>jugar</button>
                </div>
            </div>


        </div>

        <div class="button">
            <button class=prev><i class="fa-solid fa-arrow-left"></i></button>

            <button class=next> <i class="fa-solid fa-arrow-right"></i></button>
        </div>

    </div>
    <script src="~/js/juegos.js"></script>
    <script src="~/js/Tema.js"></script>



</body>


</html>