@model ProyectoFinal.Models.RecuContra

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/0ec24d2dc8.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="~/css/Rcont.css" asp-append-version="true">
    <title>RecuperacionContrase単a</title>
</head>

<body>
    <div class="card">

        <form class="form" asp-action="RecuContrasena" method="post">
            <h3 id="heading">recuperacion de contrase単a</h3>
            <div class="field">

                <input class="input-field" placeholder="ingrese correo" type="text" asp-for="Email" >
            </div>
            <div class="field">
                <input placeholder="Ingrese su clave" type="number"class="input-field" asp-for="clave" required>
            </div>
            <div class="field">
                <input placeholder="Ingrese la nueva contrase単a" type="password" class="input-field" asp-for="contrasena" required>
            </div>
            <div class="field">
                <input placeholder="Repita la contrase単a" type="password" class="input-field" asp-for="contrasenaValidator" required>
            </div>
        
            <div class="btn">
                 <button class="button2" type="submit">Buscar usuario</button>
            </div>

        </form>



    </div>



    @if (!ViewData.ModelState.IsValid)
    {
        <div id="alertError" class="alert alert-danger">
            @Html.ValidationSummary(false, "", new { @class = "text-danger" })<br>
            @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })<br>
            @Html.ValidationMessageFor(model => model.clave, "", new { @class = "text-danger" })<br>
        </div>
    }
</body>

<script asp-append-version="true">
    setTimeout(() => {
        let alertElement = document.getElementById("alertError");
        if (alertElement) {
            alertElement.style.display = "none";
        }
    }, 10000); // Desaparece en 10 segundos
</script>

<script src="~/js/Tema.js"></script>

</html>