@model ProyectoFinal.Models.RecuContra

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/0ec24d2dc8.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="~/css/Rcont.css" asp-append-version="true">
    <title>RecuperacionContrase単a</title>
</head>

<body>

    <div class="card">

        <h3 id="heading">Recuperar Contrase単a </h3>
        <form asp-action="RecuContrasena" asp-controller="Html" method="post">

            <div class="field">
                <input type="email" placeholder="Ingrese Correo Electronico" asp-for="Email" class="input-field"
                    required>
            </div>

            <div class="field">
                <input type="number" placeholder="Ingrese su clave" asp-for="clave" class="input-field" required>
            </div>

            <div class="field">
                <input type="password" placeholder="Ingrese la nueva contrase単a" asp-for="contrasena"
                    class="input-field" required>
            </div>

            <div class="field">
                <input type="password" placeholder="Repita la contrase単a" asp-for="contrasenaValidator"
                    class="input-field" required>
            </div>

            <button class="button2" type="submit">Buscar Usuario</button>
        </form>

    </div>


    @if (!ViewData.ModelState.IsValid)
    {
        <div id="alertError" class="alert alert-danger">
            @Html.ValidationSummary(false, "", new { @class = "text-danger" })<br>
            @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })<br>
            @Html.ValidationMessageFor(model => model.clave, "", new { @class = "text-danger" })<br>
        </div>
    }


</body>

<script asp-append-version="true">
    setTimeout(() => {
        let alertElement = document.getElementById("alertError");
        if (alertElement) {
            alertElement.style.display = "none";
        }
    }, 10000); // Desaparece en 10 segundos
</script>

<script src="~/js/Tema.js"></script>

</html>