<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro</title>
    <link rel="stylesheet" href="~/css/Registro.css">
</head>

<body>
    <h1>REGISTRATE</h1>
    <img src="#" alt="Gotamovible">
    <form action="">
        <div class="card">
            <label for="">Nombre Completo:</label>
            <label for="">Apellido Completo:</label>
            <label for="">Fecha Nacimiento:</label>
            <label for="">Numero de teléfono:</label>
            <label for="">País de Residencia:</label>
            <label for="">Correo Electrónico:</label>
            <label for="">Contraseña:</label>
            <input type="text">
            <input type="text">
            <input type="text">
            <input type="text">
            <input type="text">
            <input type="text">
            <input type="text">
        </div>
    </form>

</body>

</html>