<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro</title>
    <link rel="stylesheet" href="~/css/Registro.css">
</head>

<body>
    <form action="">
        <div class="card1">

            <h1>REGISTRATE</h1>

            <div class="decorations">
                <div class="cards">
                    <div class="card red">
                        <img src="https://images.unsplash.com/photo-1506744038136-46273834b3fb?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
                            alt="">
                    </div>
                    <div class="card blue">
                        <img src="https://images.unsplash.com/photo-1470240731273-7821a6eeb6bd?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
                            alt="">
                    </div>
                    <div class="card green">
                        <img src="https://images.unsplash.com/photo-1523712999610-f77fbcfc3843?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
                            alt="">
                    </div>
                </div>
            </div>

            <div class="inputs">
                <div class="input-container">
                    <input type="text" id="animated-input" placeholder="" requiered autocomplete="off"><br>
                    <label for="animated-input">Nombre Completo</label>
                    <div class="input-bg"></div>
                </div>
                <div class="input-container">
                    <input type="text" id="animated-input" placeholder="" requiered autocomplete="off"><br>
                    <label for="animated-input">Apellido Completo</label>
                    <div class="input-bg"></div>
                </div>
                <div class="input-container">
                    <input type="text" id="animated-input" placeholder="" requiered autocomplete="off"><br>
                    <label for="animated-input">Fecha Nacimiento</label>
                    <div class="input-bg"></div>
                </div>
                <div class="input-container">
                    <input type="text" id="animated-input" placeholder="" requiered autocomplete="off"><br>
                    <label for="animated-input">Número Teléfono</label>
                    <div class="input-bg"></div>
                </div>
                <div class="input-container">
                    <input type="text" id="animated-input" placeholder="" requiered autocomplete="off"><br>
                    <label for="animated-input">País Residencia</label>
                    <div class="input-bg"></div>
                </div>
                <div class="input-container">
                    <input type="text" id="animated-input" placeholder="" requiered autocomplete="off"><br>
                    <label for="animated-input">Correo Electrónico</label>
                    <div class="input-bg"></div>
                </div>
                <div class="input-container">
                    <input type="text" id="animated-input" placeholder="" requiered autocomplete="off"><br>
                    <label for="animated-input">Contraseña</label>
                    <div class="input-bg"></div>
                </div>
            </div>
        </div>
    </form>
</body>

</html>