* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-style: italic;
    font-family: Arial, sans-serif;
    background: linear-gradient(90deg, #442063, #1d3263);
    color: white;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
}


.menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
    padding: 10px 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.pepe .button {
    background-color: transparent;
    border: none;
    font-size: 16px;
}

.decoracion {
    color: white;
    text-decoration: none;
    font-weight: bold;
    margin-left: 8px;
}

.decoracion:hover {
    color: #FFF;
}

.title {
    margin: 0;
    font-size: 24px;
}
.card {
    background: linear-gradient(90deg, #442063, #1d3263);
    border-radius: 12px;
    background: linear-gradient(90deg, #442063, #1d3263);
    padding: 20px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.chat-container {
    display: grid;
    
    grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
    gap: 16px;
    overflow-x: auto;
    justify-content: center;
    padding: 40px 20px;
    flex-grow: 1;
    scroll-behavior: smooth;
}

.chat-container:hover .chat-card {
    opacity: 0.4;
    transition: opacity 0.3s ease;
}

.chat-card {
     height: 280px; 
    background: linear-gradient(145deg, #ffffff, #f7f7f7);
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 4px 4px 8px #000000, -4px -4px 8px #000000;
    padding: 20px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    font-size: 14px;
    width: 100%;
}

.chat-card:hover {
   opacity: 1 !important; 
    transform: translateY(-5px);
    box-shadow: 6px 6px 12px #050505, -6px -6px 12px #0a0a0a;
    z-index: 1;
}

.chat-card p {
    margin: 6px 0;
    color: #333;
}

.chat-card .heading {
    font-size: 18px;
    font-weight: bold;
    color: #333;
}


.chat-button button {
        padding: 10px 20px;
    border: none;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    font-style: italic;
    transition: .4s ease-in-out;
    background-color: #070707;
    color: white;
}

.chat-container::-webkit-scrollbar {
    height: 8px;
}

.chat-container::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 4px;
}

.chat-container::-webkit-scrollbar-thumb:hover {
    background-color: #555;
}


.chat-button button:hover {
   border-radius: 5px;
    background-color: #1717175e;
    box-shadow: inset 2px 5px 10px rgb(5, 5, 5);
    color: white;
}


.dark {
    background: #121212;
    color: #FFFFFF;
}

.dark .container {
    background: #121212;
}