<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio</title>
    <link rel="stylesheet" href="/ProyectoFinal/wwwroot/css/Index.css">
</head>
<body>

<nav class="encabezado">
    
    <h2><a href="/ProyectoFinal/Pages/Html/Registro.html">Registrar</a></h2>
    <h2><a href="/ProyectoFinal/Pages/Html/InicioSesion.html">Mi Cuenta</a></h2>
    <h2><a href="/ProyectoFinal/Pages/Html/Juegos.html">Juegos Disponibles</a></h2>
</nav>
<div class="login"> 

    <h1> Elite  </h1>

<div class="loop cubes">
    <div class="item cubes"></div>
    <div class="item cubes"></div>
    <div class="item cubes"></div>
    <div class="item cubes"></div>
    <div class="item cubes"></div>
    <div class="item cubes"></div>
</div>
</div>





    
</body>
</html>